html,
body,
.view {
   height: 105%;
   margin: 0;
}

.aboutintro {
   padding: 50px 0 50px 0;
   margin-bottom: -1cm;
   margin-top: 0;
}

.aboutimg {
   height: 98%;
   width: 98%;
}

.aboutmission {
   color: white;
   background-color: #3f51b5;
   padding: 20px;
   margin: 0 4px 0 4px;
   border-radius: 50px 0 50px 0;
}

.aboutceo {
   margin: -5px 3.5% -5px 3.5%;
}

.hrmission {
   border-style: none;
}

#myfooter {
   line-height: 0.40;
}

.pb-4 {
   line-height: 0.20;
}


/* FontAwesome for working BootSnippet :> */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

#team {
   background: darkgray !important;
}

.btn-primary:hover,
.btn-primary:focus {
   background-color: #108d6f;
   border-color: #108d6f;
   box-shadow: none;
   outline: none;
}

.btn-primary {
   color: #fff;
   background-color: #007b5e;
   border-color: #007b5e;
}

section {
   padding: 60px 0;
}

section .section-title {
   text-align: center;
   color: white;
   margin-bottom: 50px;
}

#team .card {
   border: none;
   background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
   -webkit-transform: rotateY(0deg);
   -moz-transform: rotateY(0deg);
   -o-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   transform: rotateY(0deg);
   border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
   -webkit-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.mainflip {
   -webkit-transition: 1s;
   -webkit-transform-style: preserve-3d;
   -ms-transition: 1s;
   -moz-transition: 1s;
   -moz-transform: perspective(1000px);
   -moz-transform-style: preserve-3d;
   -ms-transform-style: preserve-3d;
   transition: 1s;
   transform-style: preserve-3d;
   position: relative;
}

.frontside {
   position: relative;
   -webkit-transform: rotateY(0deg);
   -ms-transform: rotateY(0deg);
   z-index: 2;
   margin-bottom: 30px;
}

.backside {
   position: absolute;
   top: 0;
   left: 0;
   background: white;
   -webkit-transform: rotateY(-180deg);
   -moz-transform: rotateY(-180deg);
   -o-transform: rotateY(-180deg);
   -ms-transform: rotateY(-180deg);
   transform: rotateY(-180deg);
   -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
   box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;
   -webkit-transition: 1s;
   -webkit-transform-style: preserve-3d;
   -moz-transition: 1s;
   -moz-transform-style: preserve-3d;
   -o-transition: 1s;
   -o-transform-style: preserve-3d;
   -ms-transition: 1s;
   -ms-transform-style: preserve-3d;
   transition: 1s;
   transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
   min-height: 312px;
}

.backside .card a {
   font-size: 18px;
   color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
   color: rgba(119, 116, 116, 0.87) !important;
}

.frontside .card .card-body img {
   width: 120px;
   height: 120px;
   border-radius: 50%;
}


@media (min-width: 800px) and (max-width: 850px) {
   .navbar:not(.top-nav-collapse) {
      background: #1C2331 !important;
   }
}

/* Navbar animation */
.navbar {
   background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
   background-color: #1C2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
   .navbar {
      background-color: #1C2331;
   }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
   background-color: #1C2331;
}




@media (max-width: 2560px) {

   html,
   body,
   .view {
      height: 63.1%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 4px 0 4px;
      border-radius: 50px 0 50px 0;
   }

   .aboutceo {
      margin: -25px 50% -30px 50%;
   }
}



@media (max-width: 2559px) {

   html,
   body,
   .view {
      height: 75%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 0 50px 0;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 4px 0 4px;
      border-radius: 50px 0 50px 0;
   }

   .aboutceo {
      margin: -25px 11% -30px 11%;
   }
}




@media (max-width: 1439px) {

   html,
   body,
   .view {
      height: 95%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 4px 0 4px;
      border-radius: 50px 0 50px 0;
   }

   .aboutceo {
      margin: -25px 3.5% -30px 3.5%;
   }
}




@media (max-width: 1023px) {

   html,
   body,
   .view {
      height: 100%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 4px 0 4px;
      border-radius: 50px 0 50px 0;
   }

   .aboutceo {
      margin: -25px 3.5% -30px 3.5%;
   }
}




@media (max-width: 767px) {

   html,
   body,
   .view {
      height: 100%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 12.5px 0 12.5px;
      border-radius: 50px 0 50px 0;
   }

   .aboutceo {
      margin: -25px 3.5% -30px 3.5%;
   }
}



@media (max-width: 424px) {

   html,
   body,
   .view {
      height: 100%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 12.5px 0 12.5px;
      border-radius: 40px 0 40px 0;
   }

   .aboutceo {
      margin: -25px 3.5% -30px 3.5%;
   }
}



@media (max-width: 374px) {

   html,
   body,
   .view {
      height: 100%;
      margin: 0;
   }

   .aboutintro {
      padding: 60px 14px 50px 14px;
      margin-bottom: -50px;
      margin-top: -20px;
   }

   .aboutimg {
      height: 100%;
      width: 100%;
   }

   .aboutmission {
      color: white;
      background-color: #3f51b5;
      padding: 20px;
      margin: 0 12.5px 0 12.5px;
      border-radius: 40px 0 40px 0;
   }

   .aboutceo {
      margin: -25px 3.5% -30px 3.5%;
   }
}
